<div class="container">
    <div class="header_wrp">
        <div class="logo">
            <span><i class="fas fa-bars"></i></span>
            <a href="{% url 'home' %}">
                <div></div>
            </a>
        </div>
        <ul>

                <a href="{% url 'all-car' %}"><li>Автомобили</li></a>

            <li>Проверить авто</li>
            <li>Подробнее про 2Cars</li>
            <li>Все для авто</li>
        </ul>
        <div class="user">
            <div>
                <a href="#">продать авто</a>
            </div>
            <div>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </div>
            <a style="display: block;float: left;margin-left: 1rem;margin-top: 0.2rem;" class="photo" href="{% url 'profile' %}">
            </a>
        </div>
    </div>
</div>